<h2>つぶやき一覧</h2>
<p class="label label-primary"><%= notice %></p>
<div class="contents">
  <table>
    <% @diarys.each do |diary| %>
      <div class="dialies_list">
        <label><%= diary.content %></label>
        <br>
        <div class="diaries_link">
          <%= link_to '詳細', diary_path(diary.id)%>
          <%= link_to '編集', edit_diary_path(diary.id) %>
          <%= link_to '削除', diary_path(diary.id), method: :delete,data: {confirm: '本当に削除しますか？'} %>
        </div>
      </div>
    <% end %>
  </table>
</div>
<br>
<%= link_to 'つぶやく', new_diary_path,class:"btn btn-primary btn-lg" %>
