<%= form_with(model:@diary, local: true)do|form| %>
  <div class="diary_title">
    <%= form.label :content %>
    <br>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to 'トップへ戻る',diaries_path %>
