<!DOCTYPE html>
<html>
  <head>
    <title>今日もつぶやき</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
              <span class="sr-only">今日もつぶやき</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:3000/diaries">今日もつぶやき</a>
          </div>
          <div id="gnavi" class="collapse navbar-collapse">
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="footer">
        <p>運営会社 TSUBUYAKI株式会社</p>
        <p>© 2015-2020 TSUBUYAKI Corp.</p>
      </div>
    </footer>
  </body>
</html>
